.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer.mat-drawer-side{
  /* background-color: white; */
}

.mat-nav-list .mat-list-item{
  /* backgro??und-color: beige; */
}
